mat-sidenav-container{
    height: calc(100vh - 120px);

    mat-sidenav{
        width: 200px;
        border-right: none;
        background-color: #4a1b9b;
        text-align: center;  
    }
    .navbar{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        color: white;

        button{

            display: flex;
            justify-content: flex-start;
            margin-left: 1rem;

            span{
                font-size: 1rem;
                margin-top: 2rem;
                margin-left: 1rem;
            }

            i{
                font-size: 1.4rem;
            }
         }
    }

}