<mat-card class="container">
    <mat-card class="Cards">
        <mat-card-title>App. Lista de Pessoas</mat-card-title>
        <mat-card-subtitle>Lorem Ipsum Dólor</mat-card-subtitle>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta lacus sed tortor venenatis bibendum ac ac nulla. Donec finibus arcu et mattis ornare. Donec aliquam rutrum sapien, efficitur suscipit enim. Pellentesque elit ligula, porttitor fringilla est vel, sagittis pharetra mi. Donec eleifend metus eget arcu auctor, ut gravida lacus pharetra.</mat-card-content>
    </mat-card>
    <mat-card class="Cards">
        <mat-card-title>App. Lista de Pessoas</mat-card-title>
        <mat-card-subtitle>Lorem Ipsum Dólor</mat-card-subtitle>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta lacus sed tortor venenatis bibendum ac ac nulla. Donec finibus arcu et mattis ornare. Donec aliquam rutrum sapien, efficitur suscipit enim. Pellentesque elit ligula, porttitor fringilla est vel, sagittis pharetra mi. Donec eleifend metus eget arcu auctor, ut gravida lacus pharetra.</mat-card-content>
    </mat-card>
</mat-card>