<mat-card class="container">
    <mat-card class="Cards">
        <mat-card-title>App. Lista de Funcionários</mat-card-title>
        <mat-card-subtitle>Projeto criado em Angular 13 utilizando Material Angular e API Rest.</mat-card-subtitle>
        <mat-card-content>
            O projeto tem como intuito mostrar uma lista de funcionários onde a pessoa que estiver utilizando pode ter total controle sobre a lista. sendo assim podendo ver, adicionar, excluir, atualizar e filtrar de acordo com a vontade dela.
            para começar a utilizar clique em <mat-icon style="position: relative; top: 6px"> menu </mat-icon> e escolha o componente Tabela.
        </mat-card-content>
    </mat-card>
</mat-card>