.container-card{
    box-shadow: none;

    .filtro{
        margin-right: 1rem;
    }

    .botaoPesquisar{
        height: 50px;
        position: absolute;
        background-color: rgb(35, 1, 51);
        color: white;
    }
}

button{
    margin-left: 1rem;
}

.Titulo-Tabela{
    display: flex;
    justify-content: space-between;
    background-color: rgb(35, 1, 51);
    color: white;

    mat-icon{
        cursor: pointer;
    }
}

mat-progress-bar{
    height: 0.5rem;
}

table{
    width: 100%;
    .edit{
        color: rgb(0, 110, 255);
    }
    .delete{
        color: red;
        cursor: pointer;
    }
}

mat-paginator{
    width: 100%;
    border-top: none;
}