<mat-card class="card-principal">
    <mat-card class="container-card">
        <mat-card-subtitle>Deletar Pessoa</mat-card-subtitle>
        <mat-card class="img-card">
            <img mat-card-image src="{{url}}" alt="Perfil {{person.firstName}}">
        </mat-card>
    <form class="example-form" >
        <div class="container">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Favorite food</mat-label>
                <input matInput [value]="person.firstName" disabled>
            </mat-form-field>
              
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Sobrenome</mat-label>
                <input matInput name="lastName" [value]="person.lastName" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>E-Mail</mat-label>
                <input matInput name="email" [value]="person.email" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Profissão</mat-label>
                <input matInput name="carrer" [value]="person.carrer" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Data</mat-label>
                <input matInput [value]="person.birthDate" name="birthDate" disabled>
            </mat-form-field>
        </div>

        <div class="botao">
            <button mat-flat-button color="warn" (click)="delete()">Delete</button>
            <button mat-flat-button color="accent" (click)="cancel()">Cancelar</button>  
        </div>
    </form> 
    </mat-card>
</mat-card>