<mat-card>
    <mat-card-subtitle>Deletar Pessoa</mat-card-subtitle>
    <form class="example-form" >
        <div class="container">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Favorite food</mat-label>
                <input matInput [value]="person.firstName" disabled>
            </mat-form-field>
              
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Sobrenome</mat-label>
                <input matInput name="lastName" [value]="person.lastName" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>E-Mail</mat-label>
                <input matInput name="email" [value]="person.email" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Profissão</mat-label>
                <input matInput name="carrer" [value]="person.carrer" disabled>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Data</mat-label>
                <input matInput [value]="person.birthDate" name="birthDate" disabled>
            </mat-form-field>
        </div>

        <button mat-flat-button color="warn" (click)="delete()">Delete</button>
        <button mat-flat-button color="accent" (click)="cancel()">Cancelar</button>  
    </form> 
</mat-card>